*{
	margin: 0;padding: 0;box-sizing: border-box; 
	
}

header{
	width: 100%;height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}
body{
	background-image: url("../bg.jpg");
}
nav{
	width: 100%;height: 15vh;
	background:orange;
	color: white;display: flex;justify-content: space-between;
	align-items: center;text-transform: uppercase;
}

nav .logo{
	width: 25%;text-align: center;
	/*background: red;*/
}

nav .menu{
	width: 40%;
	display: flex;justify-content: space-around;
}

nav .menu a{
	width: 25%;
	text-decoration: none; color: white;
	font-weight: bold;	 
}

nav .menu a:first-child{
	color: #00b894;

}

main{
	height: 100%;
	width: 85vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;color: white;
}

section{

}

section h3{
	font-size: 35px;font-weight: 200;letter-spacing: 3px;
	text-shadow: 1px 1px 2px black;
}

section h1{
	margin: 30px; 0 20px 0;
	font-size: 55px;
	font-weight: 700;
	text-shadow: 2px 1px 5px black;
	text-transform: uppercase;
}

section p{
	font-size: 25px;
	color: #eee;
	white-space: 2px;
	margin-bottom: 25px;
	text-shadow: 1px 1px 1px black;
}

section a{
	padding: 12px 30px;
	border-radius: 4px;
	outline: none;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 1px;
	transition: all .5s ease;
}

section .btnone{
    /*background: #00b894;*/
    background: #fff;
    color: #000;
}
.btnone:hover{
	background: #00b894;
	color: white; 
}

section .btntwo{
	background: #565a59;
	color: white; 
}

.btntwo:hover{
	background: #fff;
    color: #000;
}

.change_content:after{
	content: '';
	animation: changetext 10s infinite linear;
	color: rgb(24, 243, 16);
}

@keyframes  changetext{
	0%{content: "Kathmandu"}
	20%{content: "Pokhara"}
	35%{content: "Bharatpur"}
	60%{content: "Biratnagar"}
	80%{content: "Nepalgunj"}
	100%{content: "Birtamode"}
}